<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="urlWS" value="http://codechallenge4.azurewebsites.net/api/" />
      <add key="endPoint" value="employees" />
    </appSettings>
</configuration>